{% extends 'base.html' %}

{% block title %}Search Events{% endblock %}

{% load crispy_forms_tags %}

{% block styles %}
    <style type="text/css">
        .card.bg-dark {
            background-color: #111;
        }

        .card.bg-dark .list-group-item {
            background-color: #111;
            color: white;
        }

        a {
            text-decoration: none;
            color: #818181;
        }

        a:hover {
            color: #f1f1f1;
        }
        
        .list-group-item:first-child {
            padding-top: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="mb-2">Search Events</h1>

    <form method="GET" action="{% url 'search_events' %}" class="crispy-form">
        <div class="form-group">
            <input type="text" name="query" {% if query %}value="{{ query }}"{% endif %} placeholder="Search events" class="form-control mb-3">
            <button type="submit" class="btn btn-primary mb-5">Search</button>
        </div>
    </form>

    {% if query and events %}
        {% if results_count == 1 %}
            <h2><span style="color: #017aff;">1</span> Search Result</h2>
        {% else %}
            <h2><span style="color: #017aff;">{{ results_count }}</span> Search Results</h2>
        {% endif %}

        {% for event in events %}
            <div class="card bg-dark text-white mb-2">
                <div class="card-body">
                    <h3><a href="/event/{{ event.id }}">{{ event.title }}</a></h3>
                    <p>
                        <!--                         
                            {% if event.image %}
                                <img src="{{ event.image.url }}" alt="Event Image" height="100px">
                            {% endif %}
                        -->
                        {{ event.description }}
                    </p>
                </div>
            </div>
        {% endfor %}

    {% elif query and not events %}
        <p>No events found.</p>
    {% endif %}
{% endblock %}
